.timber_houses_carousel {
  position: absolute;
  top: 410vh;
  width: 90vw;
  left: 5vw;
}

.kitchen_livingroom_carousel {
  position: absolute;
  top: 575vh;
  width: 90vw;
  left: 5vw;
}

.leviathan_axe_carousel {
  position: absolute;
  top: 700vh;
  width: 90vw;
  left: 5vw;
}

.modern_kitchen_carousel {
  position: absolute;
  top: 825vh;
  width: 90vw;
  left: 5vw;
}

.landing_page_carousel {
  position: absolute;
  top: 950vh;
  width: 90vw;
  left: 5vw;
}
