.carousel_container {
  top: 300vh;
  position: absolute;
  height: 900vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.carousel {
  position: relative;
  width: 90vw;
  height: 103.5vh;
  left: 2.5vw;
  margin-bottom: 35vh;
  text-align: center;
}

.carousel_title {
  position: relative;
  color: #bbbbbb;
  background-color: rgba(92, 22, 22, 0);
  font-size: 2vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  left: 3vw;
}
