@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Righteous&display=swap");

/* ↓ Page fade ↓ */

.page_fade_black,
.white_fade_dummy,
.page_fade_white {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.page_fade_black {
  background-color: black;
  animation: page_fade_in_black 2s ease-in-out forwards;
}

.white_fade_dummy,
.page_fade_white {
  background-color: white;
  opacity: 0;
}

.page_fade_white {
  animation: page_fade_out_white 1.5s ease-in-out forwards 1.5s;
}

@keyframes page_fade_in_black {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes page_fade_out_white {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* ↓ Portfolio Button ↓ */

.portfolio_button_cover,
.portfolio_button,
.button_fade_out {
  position: absolute;
  z-index: 50;
}

.portfolio_button_cover {
  width: 40%;
  height: 80%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio_button,
.button_fade_out {
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 11.25vh;
  top: 44%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: "Dosis", sans-serif;
  font-size: 3.75vw;
  border: none;
  animation: button_show_fade 1.25s ease-in-out 1.25s forwards;
  opacity: 0;
  padding-bottom: 1.35vh;
}

.portfolio_button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.portfolio_button:hover {
  transform: translate(-50%, -5%) scale(1.1);
  transition: transform 0.3s ease-in-out; /* Add the transition property here */
}

.button_fade_out {
  background-color: rgba(226, 226, 226, 0);
  color: rgba(226, 226, 226, 0);
  transition: background-color 0.8s ease-in-out, scale 1s ease-in-out;
}

@keyframes button_show_fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ↓ Animation videos ↓ */

.video_containers_stack {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#video_forward {
  z-index: 30;
}
#video_reverse {
  z-index: 20;
}
#video_zoom {
  z-index: 10;
}

/* ↓ Portfolio page ↓ */

.portfolio_background {
  width: 100%;
  height: 100%;
  background-color: rgb(54, 54, 54);
  z-index: 1;
  position: absolute;
}

.test {
  position: absolute;
  width: 2vw;
  height: 2vh;
  background-color: red;
  top: 20vh;
  left: 49vw;
  z-index: 1;
  animation: growAnimation 3s ease-in-out forwards;
}

@keyframes growAnimation {
  from {
    width: 2dvh;
    left: 49vw;
    height: 2vh;
  }
  to {
    width: 80vw;
    left: 10vw;
    height: 40vh;
  }
}
