@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

html,
body {
  background-color: #000000;
  margin: none;
  padding: none;
}

/* ↓ Page fade ↓ */

.page_fade_black,
.white_fade_dummy,
.page_fade_white {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.page_fade_black {
  background-color: #2e2f36;
  animation: page_fade_in_black 1.5s ease-in-out forwards;
}

.white_fade_dummy,
.page_fade_white {
  background-color: white;
  opacity: 0;
}

.page_fade_white {
  animation: page_fade_out_white 1.5s ease-in-out forwards 1.5s;
}

@keyframes page_fade_in_black {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes page_fade_out_white {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.page_black {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background-color: #2e2f36;
  font-size: 2vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.loading_text {
  color: rgb(19, 19, 19);
  background-color: rgba(68, 68, 68, 0);
  font-size: 2vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  z-index: 999;
  position: absolute;
  top: 90%;
  left: 45%;
  width: 10vw;
  background-color: none;
}

.continue_button {
  color: rgb(19, 19, 19);
  background-color: #dbdbdb;
  font-size: 1.5vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  z-index: 999;
  position: absolute;
  top: 90%;
  left: 42.5%;
  width: 15vw;
  background-color: none;
  border: none;
  border-radius: 2vh;
  transition: transform 0.3s ease;
}

.continue_button:hover {
  transform: scale(1.1);
  background-color: #ffffff;
}

/* ↓ Portfolio Button ↓ */

.portfolio_button_cover {
  z-index: 900;
  position: absolute;
  width: 40%;
  height: 80%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio_button,
.button_fade_out {
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 11.25vh;
  top: 44%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: "Dosis", sans-serif;
  font-size: 3.75vw;
  border: none;
  animation: button_show_fade 1.25s ease-in-out 0s forwards;
  opacity: 0;
  padding-bottom: 1.35vh;
}

.portfolio_button {
  z-index: 50;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: transform 0.5s ease-in-out;
}

.portfolio_button:hover {
  transform: translate(-50%, -5%) scale(1.125);
  transition: transform 0.75s ease-in-out;
}

.button_fade_out {
  z-index: 50;
  position: absolute;
  background-color: rgba(226, 226, 226, 0);
  color: rgba(226, 226, 226, 0);
  transition: background-color 0.8s ease-in-out, scale 1s ease-in-out;
}

@keyframes button_show_fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ↓ Animation videos ↓ */

.video_containers_stack {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 1;
}

#video_forward {
  z-index: 30;
}
#video_reverse {
  z-index: 20;
}
#video_zoom {
  z-index: 10;
}

/* ↓ Portfolio page ↓ */

.portfolio_container {
  height: 475vh;
  z-index: 20;
}

.portfolio_background_animation {
  width: 100%;
  height: 100%;
  background-color: rgb(54, 54, 54);
  z-index: 1;
  position: absolute;
}

.background_animation_gradient {
  height: 10vh;
  width: 100%;
  background: linear-gradient(to bottom, transparent, black);
  position: absolute;
  z-index: 50;
  top: 90vh;
  left: 0;
}

.section_line,
.section_title,
.animation_title {
  color: #d2d2d2;
  position: absolute;
  font-family: "Quicksand", sans-serif;
}

.section_line {
  font-size: 5vw;
  left: 5%;
  background-color: #d2d2d2;
  min-width: 90%;
  min-height: 0.25%;
  border-radius: 1vh;
}

.line_a {
  top: 117vh;
}

.line_b {
  top: 382.5vh;
}

.section_title {
  font-size: 5vw;
  left: 30%;
  background-color: #000;
  width: 40%;
  text-align: center;
}

.title_animations {
  top: 110vh;
}

.title_modeling {
  top: 370vh;
}

.title_environment {
  top: 385vh;
}

.animation_title {
  top: 135vh;
  left: 40%;
  font-size: 3vw;
}

.animation_a {
  top: 135vh;
}

.animation_b {
  top: 257.5vh;
}

.youtube_player_container,
.empty_animation_container {
  position: absolute;
  width: 80vw;
  background-color: #000;
  color: rgb(77, 77, 77);
  z-index: 100;
  border: 1px solid #505050;
  font-family: "Quicksand", sans-serif;
}

.youtube_player_container {
  height: 93vh;
  top: 147.5vh;
  left: 10vw;
}

.empty_animation_container {
  height: 85vh;
  top: 270vh;
  left: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
}

/* ↓ Youtube player ↓ */

.video-responsive {
  padding-bottom: 56.25%;
  position: relative;
}

.video-responsive iframe {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* ↓ black scroll bar + version + audio ↓ */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(67, 67, 67);
}

* {
  scrollbar-color: rgb(67, 67, 67);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(67, 67, 67);
}

.app_version {
  width: 10%;
  height: 2%;
  position: fixed;
  z-index: 50;
  top: 97.5vh;
  left: 0.5vw;
  color: #bbbbbb;
  background-color: rgba(92, 22, 22, 0);
  font-size: 0.75vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.audio_enable {
  position: absolute;
  width: 5vw;
  height: 5vh;
  top: 92.5%;
  left: 2.25%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
