@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Righteous&display=swap");

/* ↓ Page fade-in + fade-out ↓ */

.page_fade_in {
  pointer-events: none;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 10;
  animation: page_fade_in 2s ease-in-out forwards;
}

@keyframes page_fade_in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.page_fade_out {
  animation: page_fade_out 0.5s ease-in-out forwards;
}

@keyframes page_fade_out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: white;
  }
}

/* ↓ Portfolio Button ↓ */

.portfolio_button_cover {
  width: 40%;
  height: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.portfolio_button {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 11.25vh;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -0%);
  z-index: 10;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Dosis", sans-serif;
  font-size: 3.75vw;
  border: none;
  animation: button_show_fade 1.25s ease-in-out 1.25s forwards;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  padding-bottom: 1.35vh;
}

@keyframes button_show_fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio_button:hover {
  transform: translate(-50%, -5%) scale(1.1);
}

.button_fade_out {
  border: 0px;
  color: rgb(226, 226, 226, 0);
  background-color: rgb(226, 226, 226, 0);
  transition: background-color 0.8s ease-in-out, scale 1s ease-in-out;
}

/* ↓ Animation videos ↓ */

.video_containers_stack {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#video_forward {
  z-index: 3;
}
#video_reverse {
  z-index: 2;
}
#video_zoom {
  z-index: 1;
}
